@mixin inputIcon($iconUrl) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: 10;
        background-image: url($iconUrl);
        background-repeat: no-repeat;
        background-size: 32px 32px;
        bottom: 0;
        right: 0;
        top: 13px;
        left: 20px;
        width: 32px;
    }

    input {
        padding-left: 70px;
    }
}
