:root {
    --bg-color: linear-gradient(180deg, #AEE0EF 0%, #E6F9FF 50%, #FFFFFF 100%);
    --main-text-color: #364041;
    --card-bg: #FFFFFF;
    --primary-color: #FFFFFF;
    --card-shadow: 0px 5px 20px 0px #3640411A;
    --input-shadow: 0px 5px 20px 0px #3640411A inset;
    --placeholder-color: #AEAEAE;
    --btn-color: #5BD000;
    --active-color: rgb(104, 192, 25);
    --process-color: rgb(240, 187, 39);
    --error-color: rgba(204, 8, 8, 0.692);

    --width-app: 393px;
}