@import './../../app/styles/animation.scss';
@import './../../app/styles/inputIcon.scss';

.container {
    padding: 76px 31px 0;
    height: 872px;
    @include slideIn(0.5s);
}

.wrapperInput {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 56px;

    textarea {
        height: 247px;
    }

    .error {
        color: var(--error-color);
        font-size: 13px;
        margin-top: 5px;
    }
}

.fio {
    @include inputIcon('../../assets/icons/fio.svg');
}

.phone {
    @include inputIcon('../../assets/icons/call.svg');
}

.reason {
    @include inputIcon('../../assets/icons/question.svg');
}

.wrapperButton {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}